#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#header {
    float: left;
    height: 75px;
    width: 1000px;
    background: #6600FF;
}

#navigation {
    float: left;
    height: 40px;
    width: 1000px;
    background: #14A1FF;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 1000;
}



/*
    Component: Team Card
*/
.team-card {
	width: 25%;
	position: relative;
  	display: block;
  	float: left;
  	margin: 20px;
  	border-radius: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 15px;
	border-radius: 10px;
	cursor: pointer;
	color: white;
}

.team-card .panel-heading{
	background-color: black;
	color: white;
}

.team-card-footer {
	background-color: black !important;
	color: white;
	text-align: left;
}


.team-card-body {
	height: 250px !important;
}



.img-responsive {
	width: 100%;
}

/*
    Component: Small boxes
*/
.square-box {
  position: relative;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.square-box > .inner {
  padding: 10px;
}
.square-box > .square-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.square-box > .square-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.square-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.square-box p {
  font-size: 15px;
}
.square-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.square-box h3,
.square-box p {
  z-index: 5px;
}
.square-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.square-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.square-box:hover .icon {
  animation-name: tansformAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: tansformAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes tansformAnimation {
  from {
    font-size: 90px;
  }
  to {
    font-size: 100px;
  }
}
@-webkit-keyframes tansformAnimation {
  from {
    font-size: 90px;
  }
  to {
    font-size: 100px;
  }
}
@media screen and (max-width: 480px) {
  .square-box {
    text-align: center;
  }
  .square-box .icon {
    display: none;
  }
  .square-box p {
    font-size: 12px;
  }
}

    
/* button file style */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}