<div class="modal-header clearfix">
	<div class="btn-group pull-left">
		<button class="btn btn-danger" ng-click="$close()">Cancel</button>
		<span class="file-input btn btn-primary btn-file">
			Browse&hellip; <input type="file"
			onchange="angular.element(this).scope().onFile(this.files[0])">
		</span>

	</div>

	<div class='pull-right control-group'>
		<button class="btn btn-primary fa fa fa-crop" ng-click="onSubmit()"></button>
	</div>
</div>
<div class="modal-body">	
	<div class="img-container">
    	<img ng-src="{{dataUrl}}" class="img-responsive" ng-cropper ng-cropper-show="showEvent" ng-cropper-hide="hideEvent" ng-cropper-options="options">
  	</div>

</div>