<div>
      <div>
        <div class="btn-group pull-left">
          <button class="btn btn-danger" ng-click="$close()">
            Cancel
          </button>
        </div>
        <div class="btn-group pull-right">
			<button class="btn btn-primary btn-success btn-sm" ng-click="onSubmit()">Save</button>
        </div>

        <h3>{{team.name}}</h3>
      </div>

      <div>
		<div class="alert alert-danger" ng-if="addError" translate>Could not add user!</div>
        <formly-form result="team" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>
        
		<cropper-view ratio="1:1" cropper-property="updatedAvatar"></cropper-view>
      </div>

      <div>
        <small class="pull-left">Built with Bootcards - Form Card</small>
        <a href="#" class="btn btn-link btn-xs pull-right">View Source</a>
      </div>
</div>
