<section admin-header class="content-header" title="{{ 'Team' | translate }}" sub-title="{{ 'Manage your teams here!' | translate }}">
	<button type="button" class="btn btn-default pull-right" modal-view-url="modules/core/views/elements/modals/form.html" modal-controller="TeamCreateCtrl">Add team</button>

</section>
 
<div class="row" ng-init="getTeams()">
	<team-card name="{{ team.name }}" img="{{team.avatarUrl}}" color="{{ team.mainColor }}" icon="ion-ios-football"
             quantity="{{ team.members.length }}" ng-repeat="team in teams | orderBy:'name'" team="team"></team-card>
</div>

<div ng-if="loading" class="overlay"></div>
<div ng-if="loading" class="loading-img"></div>


