
 
<div class="row" ng-init="getTeams()">
	<team-card name="{{ team.name }}" img="{{team.avatarUrl}}" color="{{ team.mainColor }}" icon="ion-ios-football"
             quantity="{{ team.members.length }}" ng-repeat="team in teams | orderBy:'name'" team="team"></team-card>
</div>

<div ng-if="loading" class="overlay"></div>
<div ng-if="loading" class="loading-img"></div>


<button type="button" class="btn btn-info btn-lg" modal-view-url="modules/teams/views/modals/form.html" modal-controller="TeamCreateCtrl" modal-data="team">Add team</button>
