<div class="blended_grid">
	<div class="pageHeader">
	    <button type="button" style="position: absolute;" class="btn btn-default pull-left" modal-view-url="modules/core/views/elements/modals/image.html" modal-controller="Cropper2Ctrl" modal-data="getBanModalData()">Edit</button>
	
		<img ng-src="{{team.banUrl}}" class="img-responsive"></img>
	</div>
	<div class="pageBarLeft">
		<div class="card" ui-view="logo"></div>
		<div class="card" ui-view="members"></div>
		<div class="card" ui-view="json"></div>
	</div>
	<div class="pageContent">
		<section ui-view></section>
	</div>
	<div class="pageBarRight">
		<div class="pageRightTop"></div>
		<div class="pageRightMid"></div>
		<div class="pageRightBottom"></div>
	</div>
</div>