<div ng-controller="UploadController">


	<div class="panel panel-default">
	  	<div class="panel-heading clearfix">
	  	    <span class="file-input btn btn-primary btn-file">
                Browse&hellip; <input type="file" onchange="angular.element(this).scope().onFile(this.files[0])">
            </span>
	    	<div class='pull-right control-group'>
	    		<i ng-if="mode === 'loading'" class="fa fa-spinner fa-pulse"></i>
				<button ng-show="dataUrl && mode === 'preview'" class="btn btn-primary fa fa fa-edit" ng-click="edit()"></button>
				<button ng-show="dataUrl && mode === 'edit'" class="btn btn-primary fa fa fa-crop" ng-click="valid()"></button>
	      	</div>
	    </div>
		<div class="panel-body">
			<div class="img-container">
				<img class="img-responsive" ng-if="dataUrl" ng-src="{{dataUrl}}"
					ng-cropper ng-cropper-proxy="cropperProxy"
					ng-cropper-show="showEvent" ng-cropper-hide="hideEvent"
					ng-cropper-options="options">
			</div>
			<img ng-if="preview.dataUrl && mode === 'preview'" class="img-responsive" ng-src="{{preview.dataUrl}}">
			
		</div>
		<div class="panel-footer">
			<!-- <small><pre>{{team|json}}</pre></small> -->  

		</div>
	</div>

</div>