<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">404
            <small>Page Not Found</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a>
            </li>
            <li class="active">404</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-12">
        <div class="jumbotron">
            <h1><span class="error-404">404</span>
            </h1>
            <p>The page you're looking for could not be found. Here are some helpful links to get you back on track:</p>
            <ul>
                <li>
                    <a ui-sref="home">Home</a>
                </li>
                <li>
                    <a ui-sref="about">About</a>
                </li>
                <li>
                    <a ui-sref="services">Services</a>
                </li>
                <li>
                    <a ui-sref="contact">Contact</a>
                </li>
                <li>
                    Portfolio
                    <ul>
                        <li>
                            <a ui-sref="portfolio-1">1 Column Portfolio</a>
                        </li>
                        <li>
                            <a ui-sref="portfolio-2">2 Column Portfolio</a>
                        </li>
                        <li>
                            <a ui-sref="portfolio-3">3 Column Portfolio</a>
                        </li>
                        <li>
                            <a ui-sref="portfolio-4">4 Column Portfolio</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Blog
                    <ul>
                        <li>
                            <a ui-sref="blog-1">Blog Home 1</a>
                        </li>
                        <li>
                            <a ui-sref="blog-2">Blog Home 2</a>
                        </li>
                        <li>
                            <a ui-sref="blog-post">Blog Post</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Other Pages
                    <ul>
                        <li>
                            <a ui-sref="full-width">Full Width Page</a>
                        </li>
                        <li>
                            <a ui-sref="sidebar">Sidebar Page</a>
                        </li>
                        <li>
                            <a ui-sref="faq">FAQ</a>
                        </li>
                        <li>
                            <a ui-sref="404">404 Page</a>
                        </li>
                        <li>
                            <a ui-sref="pricing">Pricing Table</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
</div>